<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1483081979849-4367277fb4d8?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
  <div class="container">
  </div>
</div>

<div class="new-lists">
  <div class="new-list">
    <h1>Create a new <strong>list</strong> !</h1>
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Submit", class: "btn btn-success" %>
    <% end %>
  </div>
  <%= link_to "Home", lists_path, class: "btn btn-primary mt-3"%>
</div>
